/* "class" text */
html.writer-html5
  .rst-content
  section
  > dl:first-of-type
  > dt:first-of-type
  > .property {
  color: green;
}

/* first part of signature 
i.e. `content_filter.` in the Python example
*/
html.writer-html5
  .rst-content
  dl[class]:not(.option-list):not(.field-list):not(.footnote):not(
    .citation
  ):not(.glossary):not(.simple)
  > dt
  > .sig-prename {
  color: orange;
}

/* second part of signature 
i.e. `Filter.` in the Python example
*/
html.writer-html5
  .rst-content
  section
  dl[class]:not(.option-list):not(.field-list):not(.footnote):not(
    .citation
  ):not(.glossary):not(.simple)
  > dt:first-child
  > .sig-prename
  + .descname {
  /*only select descnames that have a prename in front. Avoids selecting function signature
  descnames */
  color: orange;
}
